.main {
  &__exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .exchange {
      &__img {
        margin-bottom: 4rem;
      }

      &__title {
        @include title(2.4rem, 2.6rem);

        @include tablet {
          @include title(4rem, 4.2rem);
          width: 46.4rem;
        }
      }

      &__text {
        @include text(1.4rem, 1.8rem);

        @include tablet {
          @include text(2rem, 2.4rem);
        }
      }

      &__date {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.936rem;

        .update {
          font-weight: bolder;
        }
      }
    }
  }

  .exchange__coins {
    display: flex;
    font-family: "inter", sans-serif;

    %title-table {
      margin: 0 2rem 1.2rem 3rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.344rem;
      text-align: left;
      font-family: "DM sans", sans-serif;
    }

    .title-table {
      @extend %title-table;
      color: $bitcoin-orange;
    }

    .title-table--blue {
      @extend %title-table;
      color: $secondary-blue;
    }

    .slider__arrow--left {
      transform: rotate(180deg);
    }

    .slider__arrow--right {
      color: white;
    }

    .slider {
      width: 25rem;
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      overscroll-behavior: contain;
      scroll-snap-type: x mandatory;
      &__article{
        width: 23rem;
        scroll-snap-align: center;
      }

      @include tablet {
        overflow-x: visible;
        justify-content: center;
      }
    }


    .table {
      width: 20rem;
      margin: 0 2rem 2.4rem 2rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.936rem;
      text-align: left;

      td:first-child {
        padding: 0.6rem 1.25rem;
        color: $gray;
      }
      td:last-child {
        padding: 0.6rem 1.25rem;
      }
    }
  }
}
