.main__product-detail{
    background-color: $warm-black;
    text-align: center;
    .product-detail{
        &__title{
            @extend %title;
            margin-bottom: 2.4rem;
            color:$just-white;
        }
        &__text{
            @extend %text;
            margin-bottom: 3.2rem;
            color:$gray;
        }
    }


}