.hidden {
  display: none;
}

.container {
  padding: 5.9rem 1.6rem 3rem 1.6rem;
}

@mixin title($fs, $lh) {
  margin: 0 auto 2.4rem auto;
  font-size: $fs;
  font-weight: 700;
  line-height: $lh;
}

@mixin text($fs, $lh) {
  margin-bottom: 4.8rem;
  font-size: $fs;
  font-weight: 500;
  line-height: $lh;
  color: $gray;
}
