.plans__ListPlans {
  display: flex;
  width:19rem;
  margin: 0 auto;
  overflow-x: scroll;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  
  @include tablet{
    justify-content: center;
    overflow-x: visible;
    overscroll-behavior: none;
    scroll-snap-type: none;
    gap: 10rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 19rem;
    margin: 0 19%;
    padding: 1.6rem;
    font-family: "inter", sans-serif;
    scroll-snap-align: center;

    @include tablet{
      margin: 0 auto;
    }

    &__recommended {
      width: 10rem;
      margin: 0 auto;
      padding: 0.8rem;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.452rem;
      background: $bitcoin-orange;
      color: $just-white;
      border-radius: 0.8rem;
    }
    &__typePayment {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
    }
    &__currenly {
      position: relative;
      bottom: 3rem;
      right: 0.4rem;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.452rem;
      color: $gray;
    }

    &__amount {
      font-size: 5.2rem;
      font-weight: 700;
      line-height: 6.293rem;
      letter-spacing: -0.8rem;
    }
    &__description {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.452rem;
      color: $gray;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15.1rem;
      padding: 1.3rem;
      color: $bitcoin-orange;
      border: 2px solid $bitcoin-orange;
      border-radius: 4px;
    }

    &__button-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("/assets/icons/arrow-right\ 1.svg") center no-repeat;
    }
  }
}
