.product-detail__card-detail {
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    height:16rem;
    background:$black;
    text-align: left;
  .card-detail {
      &__icon{
        width: 2rem;
        margin-bottom: 1.2rem;
      }
      &__title{
          margin-bottom: 1.2rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.8rem;
        color:$just-white;
      }
      &__text{
          margin-bottom: 1.2rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.8rem;
          color: $gray;
      }
  }
}
